<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor & Vehicle Management System</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <h1>Welcome to VVIMS</h1>
        <nav>
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="register_user.html">Register</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="content">
            <h2>Secure and Streamline Visitor & Vehicle Management</h2>
            <p>Efficiently manage visitor and vehicle information with our comprehensive solution.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 VVIMS. All rights reserved.</p>
    </footer>
</body>
</html>
